.subjectHeader {
  color: midnightblue;
  font-family: sans-serif;
}

#scoreBoard {
  border: 1px solid black;
}

table {
  text-align: center;
}

table th {
  background-color: goldenrod;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: square;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: orange;
  text-decoration: none;
}

blockquote {
  background: gray;
  color: white;
}

#teamRoster img[src="https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg"] {
  display: none;
}

#teamRoster img[src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg"] {
  display: none;
}

#teamRoster>li:first-child {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: 0%;
}

#teamRoster>li:last-child {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: 0px;
}

ol>li:first-child {
  font-weight: bold;
}

#checkbox-grid {
  list-style-type: none;
}